
.card {
    display: flex;

    .section-card {
        display: flex;
        align-items: center;
        gap: 21px;
    }
    
    .card-block button {
        display: flex;
        height: 900px;
        width: 178px;
        align-items: flex-end;
        justify-content: flex-end;
        background: none;
        border: none;
        border-radius: 10px;
    }
    .one {
        height: 900px;
        width: 178px;
        background-image: url(../../assets/image/one.svg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;

    }
    .two {
        height: 900px;
        width: 178px;
        background-image: url(../../assets/image/two.svg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;

    }
    .three {
        height: 900px;
        width: 178px;
        background-image: url(../../assets/image/three.svg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;

    }
    .card-block p{
        display: flex;
        align-items: end;
        justify-content: start;
        width: 90vh;
        height: 12vh;
        font-family: 'Coolvetica', sans-serif;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 36px;
        color: #FFFFFF;
        transform: rotate(-90deg);
    }

    @media only screen and (max-width: 2560px) {
        .card-block button {
            height: 500px;
            width: 158px;
            border-radius: 10px;
        }
        .one {
            width: 168px;
            height: 550px;
            border-radius: 10px;

        }
        .three {
            width: 168px;
            height: 550px;
            border-radius: 10px;

        }
        .two {
            width: 168px;
            height: 550px;
            border-radius: 10px;

        }
      }
}